.wp-block-wsubc-panel {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  font-size: 0.889em;
  line-height: 1.4;
}
.wsubc-panel-align-center {
	text-align: center;
}
.wsubc-panel-align-right {
	text-align: right;
}