.wp-block-wsubc-panel {
  color: darkred;
  background: #fcc;
  border: 2px solid #c99;
  padding: 20px;
}
.wsubc-panel-align-center {
	text-align: center;
}
.wsubc-panel-align-right {
	text-align: right;
}